$white:  #fff;
$black:  #000;
$gray:   #666;
$darkgray: darken($gray, 20);


$teal:   #2F888E;
$medteal: #186064;
$darkteal: #040828;
$gold:   #E1DB92;
$darkred: #A92541;
$red:    #E14A69;
$lightred: #EA9BAB;
